{% extends "base.html" %}
{% block title %} Dòng chảy {% endblock title %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<style>
    /* Style the label for the checkbox */
    .checkbox-label {
        display: block;
        margin-bottom: 10px;
    }

    /* Style the checkbox itself */
    .custom-checkbox input[type="checkbox"] {
        display: none; /* Hide the default checkbox */
    }

    .custom-checkbox label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
    }

    .custom-checkbox label::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        background-color: #fff;
    }

    .custom-checkbox input[type="checkbox"]:checked + label::before {
        background-color: #009688; /* Change the background color when checked */
    }

    /* Add a checkmark when the checkbox is checked */
    .custom-checkbox label::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 3px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        width: 6px;
        height: 12px;
        display: none;
    }

    .custom-checkbox input[type="checkbox"]:checked + label::after {
        display: block;
    }
</style>
<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row" style="display: inline-block;">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Dòng chảy {{ ticker }}</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right"
                            style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 ">
                    <div>
                        <form method="POST" action="/view_indexMonthIndustry/{{type_view}}">
                            {% for industry, code in industry_codes.items() %}
                                <div class="col-md-3 col-sm-3">   
                                    <div class="x_panel">
                                        <div class="form-check">

                                            {% if industry in selected_industries %}
                                                <input class="form-check-input" id="flexCheckDefault" type="checkbox" name="industry" value="{{ industry }}" checked>
                                            {% else %}
                                                <input class="form-check-input" id="flexCheckDefault" type="checkbox" name="industry" value="{{ industry }}">
                                            {% endif %}
                                        <label class="form-check-label" for="flexCheckDefault">
                                            {{ industry }}
                                        </label>
                                    </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-md-3 col-sm-3">   
                                    <div class="x_panel">
                                        <input style="background-color: #007bff; color: #fff;  border: none; border-radius: 5px; cursor: pointer;" type="submit" value="Áp dụng">
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>

                {% for json_meta in json_data %}
                    <div class="col-md-6 col-sm-6  ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{json_meta[5] | safe}}</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Settings 1</a>
                                            <a class="dropdown-item" href="#">Settings 2</a>
                                        </div>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div style="margin-top: 20px; border: 1px solid #ccc; padding: 20px; border-radius: 5px; transition: transform 0.2s;"
                                    onmouseover="this.style.transform='scale(1.02)';"
                                    onmouseout="this.style.transform='scale(1)';">
                                    <canvas id="line-chart-{{json_meta[6]}}" width="512px" height="512px"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script> 
    
    {% for json_meta in json_data %}
        new Chart(document.getElementById("line-chart-{{json_meta[6]}}"), {
            type: 'bar',
            data: {
                labels: {{json_meta[0] | safe}},
                datasets: [
                    { 
                    data: {{ json_meta[1] }},
                    type: "line",
                    label: "Index",
                    backgroundColor: "{{json_meta[7] | safe}}",
                    borderColor: "{{json_meta[7] | safe}}",
                    order: 1,
                    yAxisID: 'index',
                    },
                    { 
                        data: {{ json_meta[2] }},
                        type: "bar",
                        label: "Volume",
                        backgroundColor: "rgba(0,0,0,0.2)",
                        order: 0,
                        yAxisID: 'volume',
                    }
                    ]
                },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Dong Chay'
                },
                scales: {
                    index: {
                        beginAtZero: false,
                        type: 'linear',
                        position: 'left',
                    },
                    volume: {
                        beginAtZero: false,
                        type: 'linear',
                        position: 'right',
                    }
                },
                interaction: {
                    mode: 'index'
                },
                plugins: {
                    title: {
                        display: true,
                        text: "{{json_meta[5] | safe}}",
                        color: "{{json_meta[7] | safe}}",
                        font: {
                            size: 20
                        }
                    }
                }
            }
        });
    {% endfor %}
</script>
{% endblock %}