{% extends "base.html" %}
{% block title %} Dòng chảy {% endblock title %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row" style="display: inline-block;">
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Dòng chảy {{ ticker }}</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right"
                            style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 ">
                    <div>
                        <label for="ticker"
                            style="font-weight: bold; display: inline-block; width: 120px; text-align: right;">Chọn
                            mã cổ phiếu:</label>
                        <select id="ticker" name="ticker" class="select2" style="width: 150px;">
                            <option value="">-- Chọn mã cổ phiếu --</option>
                            {% for code in stock_codes %}
                            <option value="{{ code }}" {% if code==ticker %}selected{% endif %}>{{ code }}
                            </option>
                            {% endfor %}
                        </select>

                        <label for="timeframe"
                            style="font-weight: bold; display: inline-block; width: 120px; text-align: right;">Chọn
                            khung giờ:</label>
                        <select id="timeframe" name="timeframe" style="width: 150px;">
                            <option value="m1" {% if selected_timeframe=="m1" %}selected{% endif %}>M1
                            </option>
                            <option value="m15" {% if selected_timeframe=="m15" %}selected{% endif %}>M15
                            </option>
                            <option value="h1" {% if selected_timeframe=="h1" %}selected{% endif %}>H1
                            </option>
                            <option value="d1" {% if selected_timeframe=="d1" %}selected{% endif %}>D1
                            </option>
                        </select>

                        <canvas id="line-chart" width="800" height="450"></canvas>

                        <div style="margin-top: 20px; border: 1px solid #ccc; padding: 20px; border-radius: 5px; transition: transform 0.2s;"
                            onmouseover="this.style.transform='scale(1.02)';"
                            onmouseout="this.style.transform='scale(1)';">
                            {{ plot_mcdx | safe }}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script> "%%a%%%" 
    
    new Chart(document.getElementById("line-chart"), {
        type: 'bar',
        data: {
          labels: {{json_banle[0] | safe}},
          datasets: [
            { 
              data: {{ json_banle[1] }},
              type: "line",
              label: "Index",
              //orderColor: "#3e95cd",
              borderColor: "#8e5ea2",
              order: 1,
              yAxisID: 'index',
            },
            { 
                data: {{ json_banle[2] }},
                type: "bar",
                label: "Volume",
                backgroundColor: "rgba(0,0,0,0.2)",
                order: 0,
                yAxisID: 'volume',
            }
            ]
        },
        options: {
            responsive: true,
          title: {
            display: true,
            text: 'Dong Chay'
          },
          scales: {
            index: {
                beginAtZero: true,
                type: 'linear',
                position: 'left',
            },
            volume: {
                beginAtZero: true,
                type: 'linear',
                position: 'right',
            }
          },
          interaction: {
            mode: 'nearest'
        }
        }
      });
</script>
{% endblock %}